@tailwind base;
@tailwind components;
@tailwind utilities;

/* set background for full screen */
/* apply this into app.jsx */
body{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}